/* General styles here*/

body {
    min-height: 100vh;
    min-width: 100%;
    font-family: "Mulish", Arial, Helvetica, sans-serif;
    background-color: #B1C9A5;
}


/*Header styles*/
header {
    height: 10vh;
    background-color: #B1C9A5;
    display: flex;
    justify-content: center;
   
}

h1 {
    font-size: 3rem;
    margin-right: 20px;
    text-decoration: underline;
}


/*Main styles*/
main {
    display: flex;
    justify-content: center;

}
h2{
    font-size: 1.5rem;
}

/*The Whole to do List*/
#the-big-div {
    background-color: white;
    height: 20vh;
    margin-top: 10vh;
    width: 44vh;
    margin-right: 15px;
    border-radius: 5px;
    padding-left: 8px;
}
/*Text Input area*/
#textareahere{
    padding:7px;
    border-radius: 8px;
    border-style: solid;
    border-color:  #B1C9A5;
}
/*Add button*/
