/* General styles here*/
* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    min-width: 100%;
    font-family: "Mulish", Arial, Helvetica, sans-serif;
    background-color: #B1C9A5;
}


/*Header styles*/
header {
    height: 10vh;
    background-color: #B1C9A5;
    display: flex;
    justify-content: center;

}

h1 {
    font-size: 3rem;
    margin-right: 10px;
    text-decoration: underline;
    margin-top: 20px;
}


/*Main styles*/
main {
    display: flex;
    justify-content: center;

}

h2 {
    margin-top: 10px;
    font-size: 1.5rem;
}

/*The Whole to do List*/
#the-big-div {
    background-color: white;
    height: auto;
    min-height: 25vh;
    margin-top: 13vh;
    max-width: 50vh;
    border-radius: 5px;
    padding-left: 8px;
    padding-right: 10px;
    padding-bottom: 10px;

}

/*Text Input area*/
#textareahere {
    margin-top: 10px;
    padding: 7px;
    border-radius: 8px;
    border-style: solid;
    border-color: #B1C9A5;
    border-width: 2px;
}


/*List Here*/
.ClassList {
    max-width: 185px;
    position: absolute;
    word-wrap: break-word;
    list-style: none;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: small;
}





/*Delete Button here*/
.NewDeleteButton {
    border-radius: 5px;
    background-color: #B1C9A5;
    border-style: none;
    margin-left: 27vh;
    margin-bottom: 10px;
    position: relative;
    top: 0;
    right: 0;
    margin-top: 10px;
    padding: 3px;



}

/*Add button*/
#theaddbutton {
    padding: 8px 13px 8px 13px;

    background-color: #B1C9A5;
    border-radius: 8px;
    border-style: none;
    font-weight: 500;
    margin-left: 5px;
}

/*Button extra*/
#theaddbutton:hover {
    background-color: #9db192;
}


#theaddbutton:active {
    background-color: rgb(230, 243, 230);

}



/*Task Div list*/
#HereGoesTheTask {
    border-top: 1px solid black;
    margin-top: 20px;
    width: 35vh;
    position: sticky;

}





/*For devices over 768px*/
@media (min-width: 768px) {

    /*Text Input area*/
    #textareahere {
        width: 300px;
        margin-left: 20px;
        padding-left: 15px;

    }

    /* task title*/
    h2 {
        font-size: 1.9rem;
        margin-left: 20px;
    }

    /*Add button*/
    #theaddbutton {
        margin-left: 10px;
    }

    /*The Whole to do List*/
    #the-big-div {

        min-height: 25vh;
        margin-top: 13vh;
        width: 50vh;

    }

    /*Task area for list*/
    #HereGoesTheTask {

        margin-top: 30px;
        width: 45vh;
        margin-left: 15px;

    }

    /*List Here*/
    .ClassList {
        max-width: 350px;
    }



    /*Delete Button here*/
    .NewDeleteButton {

        margin-left: 42vh;

    }

}






/*For devides over 992px*/
@media (min-width: 992px) {


    /*The Whole to do List*/
    #the-big-div {

        min-height: 30vh;
        margin-top: 13vh;
        min-width: 63vh;

    }

    /* task title*/
    h2 {
        font-size: 2rem;
        margin-left: 30px;
    }

    #textareahere {
        width: 320px;
        margin-left: 20px;
        padding-left: 15px;

    }





    /*Task area for list*/
    #HereGoesTheTask {

        margin-top: 40px;
        width: 57vh;
        margin-left: 15px;

    }

    /*List Here*/
    .ClassList {
        max-width: 430px;
    }



    /*Delete Button here*/
    .NewDeleteButton {

        margin-left: 50vh;

    }



}