/* General styles here*/

body {
    min-height: 100vh;
    min-width: 100%;
    font-family: "Mulish", Arial, Helvetica, sans-serif;
    background-color: #B1C9A5;
}


/*Header styles*/
header {
    height: 10vh;
    background-color: #B1C9A5;
    display: flex;
    justify-content: center;
   
}

h1 {
    font-size: 3rem;
    margin-right: 20px;
    text-decoration: underline;
}


/*Main styles*/
main {
    display: flex;
    justify-content: center;

}
h2{
    font-size: 1.5rem;
}

/*The Whole to do List*/
#the-big-div {
    background-color: white;
    height: 20vh;
    margin-top: 10vh;
    width: 44vh;
    margin-right: 15px;
    border-radius: 5px;
    padding-left: 8px;
}
/*Text Input area*/
#textareahere{
    padding:7px;
    border-radius: 8px;
    border-style: solid;
    border-color:  #B1C9A5;
    border-width: 2px;
   
}



/*Add button*/
#theaddbutton{
    padding: 8px 13px 8px 13px;
    
    background-color:#B1C9A5;
    border-radius: 8px;
    border-style: none;
    font-weight:500;
    margin-left: 5px;
}

/*Button extra*/
#theaddbutton:hover {
    background-color:#9db192;
}

#theaddbutton:active{
    background-color: white;
    border-color:#9db192; ;
    border-style: solid;
    border-width: 1px;
    
}

#HereGoesTheTask{
    background-color: white;
    height: 20vh;
    margin-top: 7vh;
    width: 40vh;
    
    border-radius: 5px;
   
}